<div id="article-banner">
  <h2>做一个熟练切换单推的 DD</h2>
  <p class="post-date">「我要一进去就看到一屏幕的主播」</p>
</div>
<main class="app-body project-app">
  <div id="streaming-rooms-hr" style="visibility: hidden;">
    <hr/>
  </div>
  <div class="card-container" id="streaming-rooms"></div>

  <div id="looping-rooms-hr" style="visibility: hidden;">
    <hr/>
  </div>
  <div class="card-container" id="looping-rooms"></div>

  <div id="closed-rooms-hr" style="visibility: hidden;">
    <hr/>
  </div>
  <div class="card-container" id="closed-rooms"></div>
</main>
<script>
  var LiveStatus = {
    CLOSED: 0,
    STREAMING: 1,
    LOOPING: 2,
    ERROR: 3,

    text: {
      0: "未开播",
      1: "正在直播",
      2: "轮播中",
      3: "服务器出错啦～",
    },

    divId: {
      0: "#closed-rooms",
      1: "#streaming-rooms",
      2: "#looping-rooms",
    }
  };

  /**
   * Return true if the live room is streaming.
   */
  function isLiveRoomStreaming(roomUrl, callback) {
    var pattern = /live\.bilibili\.com\/(\d+)/;
    var groups = roomUrl.match(pattern);

    // Only bilibili live is supported yet.
    // PRs are welcomed.
    if (groups == null) {
      return false;
    }

    var roomId = groups[1];
    var apiUrl = "http://120.79.193.152:23332/live/room_init?id=" + roomId;

    $.ajax({
      url: apiUrl,
      type: 'get',
      success: function(data) {
        const res = JSON.parse(data);
        const status = parseInt(res.data.live_status.toString());

        if (status < LiveStatus.CLOSED || status > LiveStatus.ERROR) {
          status = LiveStatus.ERROR;
        }

        callback(status);
      },
      error: function(data) {
        callback(LiveStatus.ERROR);
      }
    });
  }

  (function() {
    var url = '<%= config.url %>/<%= page.path %>';
    $('#article-banner').geopattern(url);
    $('.header').removeClass('fixed-header');
    
    // obtain vtuber status
    <% for(index in theme.vtubers) { %>
      <% 
        let v = theme.vtubers[index];
        let name = v["name"];
        let room = v["room"];
        let avatar = v["avatar"];
      %>

      isLiveRoomStreaming("<%= room %>", function(status) {
        var statusText = LiveStatus.text[status];
        var divId = LiveStatus.divId[status];

        var cardHtml = 
          '<section class="project-card">' + 
            '<a class="card-wrap" href="<%= room %>" target="_blank">' +
              '<div class="card-header" data-name="<%= name %>"></div>' +
              '<div class="card-body">' +
                '<img class="card-avatar" src="<%= avatar %>"/>' +
                '<h3 class="card-title"><%= name %></h3>' +
                '<p class="card-description">' + statusText + '</p>' +
              '</div>' +
              '<div class="card-footer">' +
                '<span><i class="fa fa-star"></i>'+ 0 +'</span>' +
                '<span><i class="fa fa-code-fork"></i>' + 0 +'</span>' +
              '</div>' +
            '</a>' +
          '</section>';
        
        var doc = $(divId);
        doc.html(doc.html() + cardHtml);

        $(divId + "-hr").show();

        $('.card-header').each(function() {
          var name = $(this).data('name');
          $(this).geopattern(name);
        });
      });

    <% } %>

  })()
</script>
